nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
}

nav a:hover {
    color: #404BBF;
}

address a {
   font-weight: 400;
   font-size: 16px;
   font-style: normal;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

address a:hover {
    color: #404BBF;
}